/* Reset basique */

:root{  
    --bg-color: #FFF4E9;
    --font-color: #664c2f;
    --button-bg-color: #664c2f;
    --section-height: 60vh;
    --border-color: white;
    --bigger-text-size: 10vw;
    --big-text-size: 6vw;
    --avg-text-size: 4vw;
    --logo-size: 3rem;
    --border-width: 1px;

    /*responsive : petites tailles de pilice*/
    --small-screen-avg-font-size : 3vw;
    --small-screen-big-font-size : 7vw;
    --small-screen-bigger-font-size : 8vw;
    --small-screen-small-font-size : 2vw;
}

@font-face {
    font-family: dynalight;
    src: url(../Dynalight/Dynalight-Regular.ttf);
}

@font-face {
    font-family: ebg;
    src: url(../EB_Garamond/EBGaramond-VariableFont_wght.ttf)
}

.fancy{
    font-family: dynalight;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ebg;
    line-height: 1.6;
    color: var(--font-color);
    background-color: var(--bg-color);
    font-size: var(--avg-text-size);
}

.container {
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

section{
    border-bottom : solid var(--border-color);
    border-width: var(--border-width);
}

/* Navigation */

nav {
    display: flex;
    flex-direction : column;
    align-items: center;
    width: auto;
    background-color : var(--bg-color);
}

@media (min-width:470px){
    nav{
        border-bottom: solid var(--border-width) var(--border-color);
    }
}

.logo-small {
    height: var(--logo-size);    /* Le logo prend 100% de la hauteur de la navbar */
    width: auto;     /* Garde les proportions de l'image */
    display: block;  /* Enlève l'espace vide sous l'image */
    border: none;    /* Optionnel : retire la bordure si tu n'en veux plus */
}

nav ul {
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    width: auto;  
    margin: auto;
    list-style-type: none;
}


nav ul li a {
    text-decoration: none;
    color: var(--font-color);
}


/* Hero Section */
.countdown {
    font-weight: normal;
    display:grid;
    color : var(--font-color);
    text-align: center;
    padding:0;
    margin: auto;
}

.hero img{
    margin:auto;
}

@media (min-width : 470px){
    .countdown{
        max-width: 90%;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: none;
    }

    .hero{
        grid-template-columns: repeat(3, 1fr);
        display: grid;
    }

    .hero img{
        width:90%;
        margin: 40px auto 40px;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .time{
        font-size: var(--small-screen-avg-font-size);
    }

    .indicator{
        font-size:2vw;
    }
}

@media (max-width:470px){

    .hero {
        position: relative; /* Devient le repère pour le chrono */
        display: flex;      /* Pour s'assurer que l'image centre bien */
        flex-direction: column;
    }

    .hero img{
        width:100%;
    }

    .date h2{
        text-align: center;
    }

    .date{
        position: absolute; /* On le place par-dessus l'image */
        top: 85%;           /* Centre verticalement */
        left: 50%;          /* Centre horizontalement */
        transform: translate(-50%, -50%); /* Ajustement parfait du centrage */
        width: 90%;         /* Largeur du chrono sur l'image */
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 8px; /* Optionnel : adoucit les angles */
        color:white;
    }

    .countdown {
        grid-template-columns: repeat(4, 1fr);
        color:inherit;
    }

    .time{
        font-size: var(--bigger-text-size);
    }
}



/* Section Intro */
.intro-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.vert-img {
    height : 50vw;
    margin:auto;
}

.texte{
    font-style: italic;
}

.verset{
    text-align: left;
}

@media (min-width:470px){
    .texte{
        font-size: var(--small-screen-avg-font-size);
    }
}

.reference{
    text-decoration: underline;
    text-align: right;
}

/* Programme */

.programme{
    height:auto;
}

h1, h2 {
    font-size: var(--bigger-text-size);
    font-weight: initial;
}



.moment{
    border-bottom: solid var(--border-color);
    border-width: var(--border-width);
    padding : 5vw;
}
.moment img {
    width: 25vw;
}

@media (max-width:470px){
    .horaire{
        font-size: var(--bigger-text-size);
    }
}


.event{
    font-size:var(--big-text-size);
}

button{
    background: var(--button-bg-color);
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: var(--avg-text-size);
    color: var(--bg-color);
    width: 100%;
    margin: auto;
    text-align: left;
    padding: 4.5vw 1vw 4.5vw;
    font-family: inherit;
    
}

@media (min-width:470px){
    h2, horaire{
        font-size:var(--small-screen-big-font-size);
        text-align: center;
    }

    button{
        padding: 2.5vw 1vw 2.5vw;
        font-size : var(--small-screen-small-font-size);
    }
}

@media (min-width:750px){

    .moment{
        border-bottom: none;
    }
    .moments-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4vw;
        margin: auto;
    }

    .moment img {
        width: 18vw;
    }

    .event{
        font-size:var(--small-screen-avg-font-size)
    }
}

.address{
    text-decoration: underline;
}

@media (min-width:470px){
    .address{
        font-size:var(--small-screen-small-font-size);
    }
}



/* Thème */


.big-lorem {
    font-size: var(--bigger-text-size);
    font-weight: normal;
    margin: 20px 0;
}

@media (min-width:470px){
    .big-lorem{
        font-size: var(--small-screen-bigger-font-size);
    }
    
}

.collapsible{
    width: 100%;
    margin: auto;
    text-align: left;
}

.collapsible:after {
  content: '+';
  float: right;
  margin-left: 5px;
  color:var(--bg-color);
}

.content{
    transition: max-height 0.2s ease-out;
    max-height: 0;
    text-align:left;
    font-size: var(--avg-text-size);
    color: var(--bg-color);
    background: var(--button-bg-color);
    border-top: solid 1px;
    padding: 0 0.5em 0;
    padding-top: 0px;
    padding-right: 0.5em;
    padding-bottom: 0px;
    padding-left: 0.5em;
    overflow:hidden;
}

@media (min-width:470px){
    .content{
        font-size: var(--small-screen-small-font-size);
    }
}

/* Slideshow */
.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 500px; /* À ajuster selon tes photos */
    margin: auto;
    overflow: hidden;
}

.slide.active {
    opacity: 1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Tout est invisible par défaut */
    transition: opacity 1.5s ease-in-out; /* Voilà le fondu entrant ET sortant */
}  


.slide img{
    width:100%;
    height:auto;
    object-fit: cover;
}

/* La légende */
.caption {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    font-size: 1.2rem;
}

.fade {
    animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
    from { opacity: 0.0; }
    to { opacity: 1; }
}

/* Footer */
footer {
    background-color: var(--bg-color);
    color: var(--font-color);
    text-align: center;
    padding: 40px 0;
}

@media (min-width:470px){
    footer{
        font-size:var(--small-screen-small-font-size)
    }
}

.logo-footer {
    width: 60px;
}

.contact{
    display: flex;
    flex-direction: column;
}

.unContact{
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}

.unContact p{
    padding: 0 1em 0;
}


